.Footer {
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(26, 37, 20, 0.616);
  }

/*footer {
  display: flex;
  justify-content: center;
}*/